.body {
    background-image: url('./background.png'); 
    background-size:cover; 
    background-repeat: no-repeat; 
    background-color: rgb(27, 26, 26);
    color: #f5f5f5;
    /* height: 580px;
    width: 100%; */
    font-family: "Poppins" ,serif ;
  }

  h1{
    font-size: 60px;
   }