.body {
    background-image: url('./background.png'); 
    background-size:cover; 
    background-repeat: no-repeat; 
    background-color:#0E0E0E;
    color: #f5f5f5;
    /* height: 580px;
    width: 100%; */
    font-family: "Poppins" ,serif ;
    overflow-x: hidden;
  }

  h1{
    font-size: 5vw;
    border-bottom: 4px solid white;
    /* position: absolute; */
    width: 60px;
    font-family: "Poppins" ,serif ;
   }
  
  .content {
    margin: 0 auto;
    padding: 1rem;
  }
  .con{
    padding: 2%;
  }
  .services {
    margin: 1% 0; /* Reduced margin */
  }
  
  .ic1 {
    width: 13%; /* Use percentage to make it responsive */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add some space between the image and the text */
  }
  .ic2{
    margin-top: 30%;
    width:100%;
    height: auto;
    }
    .my {
      position: absolute;
      top: 47.6%;
      left: 50%;
      transform: translateX(-50%);
      width: 30%; /* Adjust the width as needed */
      height: auto;
      z-index: 1;
    }
  
  .app {
    display: flex;
    align-items: center; /* Center the items vertically */
    margin-left: 0.4%;
    margin-bottom: 1rem;
  }
  .p2{
    font-family: "Quattrocento" ,serif ;
    font-size: 1.4vw;
    margin-left: 0;
    color: #f5f5f5;
  }
  .p1 {
    font-size: 1.4vw;
    font-family: "Oswald" ,sans-serif ;
  }
  .p3{
    font-size: 2.4vw;
    font-family: "Oswald" ,sans-serif ;
  }
  .purple{
    color: #BB86FC;
    font-weight: bold;
  }
  .photo {
    text-align: center; /* Center the image horizontally */
  }
  h5{
    font-size: large;
  }
  .container{
    margin-top: 0px;
    margin-left: 50px;
    width: auto;
  }
  .button{
    text-align: center;
    background-color: #303030;
    height: 2.7vw;
    width: 10.5vw;
    color: aliceblue;
    border: none;
    border-radius: 8px;
    padding-top: 2%;
  }
  .button:hover {
    background-color: #BB86FC;
    cursor: pointer;
  }
  .pic {
    width: 100%; /* Make the image responsive */
    max-width: 100%; /* Ensure it doesn't exceed its container */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto; /* Center the image within its container */
    margin-top: 2rem; /* Add space at the top */
  }
  @media (max-width: 768px) {
    .ic1 {
      width: 40%;
    }
    .app {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .p1 {
      font-size: 0.9rem;
    }
  
    .pic {
      width: 90%;
      margin: 0 auto;
      margin-top: 1rem; /* Adjust space at the top for smaller screens */
    }
  
    .services {
      text-align: center;
      margin: 1% 0; /* Reduced margin for smaller screens */
    }
  }
  
  @media (max-width: 576px) {
    .ic1 {
      width: 50%;
    }
  
    h1 {
      font-size: 6vw;
    }
  
    .content {
      padding: 0.5rem;
    }
  
    .pic {
      width: 100%;
      margin-top: 1rem; /* Adjust space at the top for smaller screens */
    }
  }